table {
  width: 100%;
}

.title{
  font-size: 3em;
  font-family: Georgia;
  text-align: center;
}

.button-container {
  padding-bottom: 1mm;
  margin-left: 2em;
}

.tableContainer {
  margin: 2em;
}

.deleteIcon {
  cursor: pointer;
}

.tableRow:hover {
  background-color: #f1e4e8da;
}

.button + .button + .button{
  margin-left: 8px;
}

.deleteIcon{
  margin-left: 8px;
}

.searchContainer {
  margin-left: 2em;
  width: 94%;
  background-color: rgba(219, 217, 215, 0.829);
  padding: 1em 2em 1em 2em ;
}

.searchText {
  font-size: x-large;
}

.searchBar {
  width: 60%;
}

.searchIcon{
  cursor: pointer;
}
