<h2>Add New Movies</h2>
<form (ngSubmit)="onSubmit()">
<div class="form-group">
  <mat-form-field appearance="outline">
    <mat-label>Enter a Movie name</mat-label>
    <input matInput placeholder="Movie" class="form-control" id="movie"
           required
           [(ngModel)]="movie.mName" name="movie">
  </mat-form-field>
</div>

<div class="form-group">
  <mat-form-field appearance="outline">
  <mat-label>Enter Actor</mat-label>
  <mat-select class="listContainer" [(value)]="movie.actor">
    <mat-option *ngFor="let actor of actors " [value]="actor">
      {{actor.aName}}
    </mat-option>
  </mat-select>
</mat-form-field>
</div>

<div class="form-group">
  <mat-form-field appearance="outline">
  <mat-label>Enter Director</mat-label>
  <mat-select class="listContainer" [(value)]="movie.director">
    <mat-option *ngFor="let director of directors " [value]="director">
      {{director.dName}}
    </mat-option>
  </mat-select>
</mat-form-field>
</div>

<div class="form-group">
  <mat-form-field appearance="outline">
    <mat-label>Enter Language</mat-label>
    <input matInput placeholder="Language" class="form-control" id="language"
         required
         [(ngModel)]="movie.language" name="language">
  </mat-form-field>
</div>

<div class="form-group">
  <mat-form-field appearance="outline">
    <mat-label>Enter year of Release</mat-label>
    <input matInput placeholder="Year" class="form-control" id="year"
         required
         [(ngModel)]="movie.year" name="year">
    </mat-form-field>
</div>
<!-- <button type="submit" class="btn btn-success">Submit</button> -->
</form>

<div class="button">
  <button mat-raised-button color="accent" (click)='save()'>Save</button>
  <button mat-raised-button color="accent" (click)='goBack()'>Go Back</button>
</div>

