.actorContainer{

  width:fit-content;
  display: flex;
  justify-content: center;
  position: absolute;
  left: 40%;
  top: 25%;
  font-weight: 500;
  font-size: 20px;

}

.directorContainer{
  width:fit-content;
  display: flex;
  justify-content: center;
  position: absolute;
  left: 60%;
  top: 25%;
  font-weight: 500;
  font-size: 20px;
}

.movieContainer{
  width:fit-content;
  display: flex;
  justify-content: center;
  position: absolute;
  left: 22%;
  top: 25%;
  font-weight: 500;
  font-size: 20px;

}

.editContainer{
  margin-top: 20%;
  margin-left: 30px;
}

.closeContainer{
  margin-left: 98%;
  margin-top: -50%;
  cursor: pointer;
}

.backContainer{
  cursor: pointer;
  margin-top: -110%;
  margin-left: -80%;
}

.updateContainer{
  margin-left: 40%;
  margin-top: 8%;
}

ul{
  line-height: 200%;
}

