
<!-- <h1 mat-dialog-title>Details</h1> -->
<div>
<ng-template #movieblock>
<div mat-dialog-content>
  <div class="movieContainer">
  <ul>
    <h1>Movie's Details</h1>
    <li><span><label >Name: </label> {{value.mName}} </span></li>
    <li><span><label >Language: </label> {{value.language}} </span></li>
    <li><span><label >Year: </label> {{value.year}} </span></li>
  </ul>
</div>
  <button color="primary" class="editContainer" mat-button  (click)="edit()">Edit</button>


  <div class="actorContainer">
  <ul>
    <h1>Actor's Details</h1>
    <li><span><label >Name:</label></span><span> {{ value.actor?.aName}}</span></li>
    <li><span><label >Number Of Hits:</label></span><span> {{ value.actor?.hits}}</span></li>
    <li><span><label >Number Of Flops:</label></span><span> {{ value.actor?.flops}}</span></li>
    <li><span><label >Industry:</label></span><span>{{ value.actor?.industry}}</span></li>
  </ul>
</div>

  <div class="directorContainer">
  <ul>
    <h1>Director's Details</h1>
    <li><span><label >Name:</label></span><span> {{ value.director?.dName}}</span></li>
    <li><span><label >Number Of Hits:</label></span><span> {{ value.director?.hits}}</span></li>
    <li><span><label >Number Of Flops:</label></span><span> {{ value.director?.flops}}</span></li>
    <li><span><label >Industry:</label></span><span> {{ value.director?.industry}}</span></li>
  </ul>
</div>
</div>

<div mat-dialog-actions>
  <mat-icon matSuffix class="closeContainer" mat-button mat-dialog-close>highlight_off</mat-icon>
</div>
</ng-template>
</div>


<div *ngIf ="isupdate ; else movieblock" >
  <div class="updateContainer">
<h1 mat-dialog-title>Update Movie Details</h1>
<div mat-dialog-content>
<form >
  <div>
  <mat-form-field appearance="fill">
    <mat-label>Enter a Movie name</mat-label>
    <input matInput placeholder="Movie" class="form-control" id="movie"
           required
           [(ngModel)]="value.mName" name="movie">
  </mat-form-field>
</div>

<div class="form-group">
  <mat-form-field appearance="fill">
    <mat-label>Enter Language</mat-label>
    <input matInput placeholder="Language" class="form-control" id="language"
         required
         [(ngModel)]="value.language" name="language">
  </mat-form-field>
</div>

<div class="form-group">
  <mat-form-field appearance="fill">
    <mat-label>Enter year of Release</mat-label>
    <input matInput placeholder="Year" class="form-control" id="year"
         required
         [(ngModel)]="value.year" name="year">
    </mat-form-field>
</div>

</form>
</div>
<div mat-dialog-actions>
  <button color="accent" mat-button (click)='update(value?.id || -1)' >Update</button>
  <mat-icon matSuffix class="backContainer" (click)="isupdate=false">arrow_back</mat-icon>
</div>
</div>
</div>

